# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # 拉取分支
      - uses: actions/checkout@v2

      # 安装 Node 环境
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: "10.x" 
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BRANCH: pages
          FOLDER: build
          BUILD_SCRIPT: npm i -g hexo-cli && npm i -g hexo-deployer-git && npm install && hexo clean && hexo deploy
