name: HEXO CI
on: 
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Configuration environment
        env:
          HEXO_DEPLOY_PRI: ${{secrets.HEXO_DEPLOY_PRI}}
        run: |
          mkdir -p ~/.ssh/
          echo "$HEXO_DEPLOY_PRI" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          git config --global user.name "lfangq"
          git config --global user.email "2953045898@qq.com"
      - name: Install dependencies
        run: |
          npm i -g hexo-cli
          npm install hexo-deployer-git --save
          npm i
      - name: check github connection
        run: |
          chattr -ia /etc/hosts
          chmod 777 /etc/hosts
          echo "140.82.114.4 github.com" > /etc/hosts
      - name: Deploy to github page
        run: |
          hexo clean
          hexo deploy