name: HEXO CI
on: 
  push:
    branches: [pages]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
      - uses: actions/checkout@v1
      - name: 配置node环境
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: 配置github密钥
        env:
          HEXO_DEPLOY_PRI: ${{ secrets.HEXO_DEPLOY_PRI }}
        run: |
          mkdir -p ~/.ssh/
          echo "$HEXO_DEPLOY_PRI" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          git config --global user.name "lfangq"
          git config --global user.email "2251234678@qq.com"
      - name: 安装依赖
        run: |
          npm i -g hexo-cli
          npm i -g hexo-deployer-git
          npm install
      - name: 发布页面
        run: |
          hexo clean
          hexo d --config _config.yml
          echo "lfangq.xyz" > public/CNAME
