name: HEXO CI
on: 
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
      - uses: actions/checkout@v1
        with: 
          ref: master
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Configuration environment
        env:
          HEXO_DEPLOY_PRI: ${{ secrets.HEXO_DEPLOY_PRI }}
        run: |
          mkdir -p ~/.ssh/
          echo "$HEXO_DEPLOY_PRI" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan 140.82.113.3 >> ~/.ssh/known_hosts
          git config --global user.name "lfangq"
          git config --global user.email "2953045898@qq.com"
      - name: Install dependencies
        run: |
          npm i -g hexo
          npm i -g hexo-deployer-git
          rm -rf node_modules && npm install --force
      - name: Deploy to github page
        run: |
          hexo clean
          hexo deploy
